:root {
    font-size: 16px;
    font-family: 'Roboto', 'Sans-Serif';
    --text-primary: #eeeeee;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.about-container {
    visibility: hidden;
    margin-left: 4rem;
    position: fixed;
    width: 100%;
    background:#181818;
    height: 100vh;
    
}

.about-heading {
    display: flex;
    width: 100%;
    height: 100%;
}

.about-text-container {
    width: 50%;
    padding: 100px;
}

.about-text-group {
    padding: 50px;
}

.about-text-container > h1 {
    color: #00cce7;
    font-size: 4rem;
    font-weight: 300;
    margin: 70px 0 0 0 ;
}

.about-text {
    color: #fff;
    font-weight: 300;
}

.grad-container {
    display: flex;

}
.grad-img {
    width: 300px;
    height: 420px;
    margin-top: 110px;
}
@media only screen and (max-width: 1200px) {
    .grad-img {
        margin-right: 100px;
        margin-top: 100px;
    }

    .about-text-container {
        padding: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .about-container {
        margin-left: 0;
        margin-top: 4rem;
    }

    .about-heading {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-text-container {
        text-align: center;
        padding-top: 0;
        margin-bottom: 75px;
    }

    .about-text-container > h1{
        margin-top: 25px;
    }

    .grad-img {
        margin-top: 0px;
        margin-right: 0;
    }

}

@media only screen and (max-width: 550px) {
    .grad-img {
        width: 170px;
        height: 240px;
    }
    .btn-dark {
        margin-right: 0;
    }

}