.project-container {
    visibility: hidden;
    margin-left: 4rem;
    position: fixed;
    width: 100%;
    background:#181818;
    height: 100vh;
    
}


.loading-container {
    position: absolute;
    padding: 0;
    height: 700px;
    left: 30px;
    width: 90%;
    top: 0px;

}

.loading-container > svg {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 900px;
    position: relative;
    left: 0px;
    top: -125px;
}

.load-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

}

  /* Basic styles */
  .loading-text {
      position: relative;
      color: #00cce7;
      font-family: 'Inconsolata', Consolas, monospace;
      font-size: 1.3rem;
      font-weight: 100;
      margin-top: 580px;
      margin-right: 50px;
  }
  .loading-text span{
      position: absolute;
      top: 0;
      right: 0;
      background: #181818;
      width: 100%;
      border-left: .1em solid transparent;
      -webkit-animation: typing 1s steps(13) forwards,
                                           cursor 1s infinite;
      animation: typing 1s steps(13) forwards,
                           cursor 1s infinite;
  }
  /* Animation */
  @-webkit-keyframes typing{
      from { width: 100%;}
      to { width: 0;}
  }
  @-webkit-keyframes cursor{
      50% { border-color: white;}
  }
  @keyframes typing{
      from{ width: 100%;}
      to{ width: 0;}
  }
  @keyframes cursor{
      50% { border-color: white;}
  }