.project-container {
    visibility: hidden;
    margin-left: 4rem;
    position: fixed;
    width: 100%;
    background:#181818;
    height: 100vh;
    
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.loading-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.load-img {
    width: 700px;
    padding: 0;
    margin: 0;
}


.load-wrapper {

}

  /* Basic styles */
  .loading-text {
      position: relative;
      color: #00cce7;
      font-family: 'Inconsolata', Consolas, monospace;
      font-size: 1.3rem;
      font-weight: 100;
      margin: 0;
  }
  .loading-text span{
      position: absolute;
      top: 0;
      right: 0;
      background: #181818;
      width: 100%;
      border-left: .1em solid transparent;
      -webkit-animation: typing 1s steps(13) forwards,
                                           cursor 1s infinite;
      animation: typing 1s steps(13) forwards,
                           cursor 1s infinite;
  }
  /* Animation */
  @-webkit-keyframes typing{
      from { width: 100%;}
      to { width: 0;}
  }
  @-webkit-keyframes cursor{
      50% { border-color: white;}
  }
  @keyframes typing{
      from{ width: 100%;}
      to{ width: 0;}
  }
  @keyframes cursor{
      50% { border-color: white;}
  }